include ../assets/global/head

doctype html
html
  head
    +head('Younes ERRAJI - 404')
    link(rel='stylesheet' href= './assets/styles/404.css')
  body
    include ../assets/partials/header

    include ../assets/utilities/settings

    include ../assets/sections/404

    include ../assets/partials/footer
    include ../assets/components/scroll-up
    include ../assets/includes/scripts
