include ../assets/global/head

doctype html
html
  head
    +head('Younes ERRAJI - About us')
    link(rel='stylesheet' href= './assets/styles/about.css')
  body
    include ../assets/partials/gradbar
    include ../assets/partials/header
    include ../assets/partials/navbar

    include ../assets/utilities/settings

    include ../assets/sections/about

    include ../assets/partials/footer
    include ../assets/components/scroll-up
    include ../assets/includes/scripts
