include ../assets/global/head

doctype html
html
  head
    +head('Younes ERRAJI - Careers')
    link(rel='stylesheet' href= './assets/styles/careers.css')

  body
    include ../assets/partials/gradbar
    include ../assets/partials/header
    include ../assets/partials/navbar

    include ../assets/utilities/settings

    include ../assets/sections/careers

    include ../assets/partials/footer
    include ../assets/components/scroll-up
    include ../assets/includes/scripts