include ../assets/global/head

doctype html
html
  head
    +head('Younes ERRAJI - Projects')
    link(rel='stylesheet' href= './assets/styles/projects.css')
  body
    include ../assets/partials/gradbar
    include ../assets/partials/header
    include ../assets/partials/navbar

    include ../assets/utilities/settings

    include ../assets/sections/projects

    include ../assets/partials/footer
    include ../assets/components/scroll-up
    include ../assets/includes/scripts

    include ../assets/includes/react-scripts

    script(src="./assets/scripts/fetch/projects.js" type='text/babel')
    script(src="./assets/scripts/modals-min.js")
