include ../assets/global/head

doctype html
html
  head
    +head('Younes ERRAJI - Authentication')
    link(rel='stylesheet' href= './assets/styles/authentication.css')
  body
    include ../assets/partials/gradbar
    include ../assets/partials/header
    include ../assets/partials/navbar

    include ../assets/utilities/settings

    .auth
      h2.special-heading Sign In
      p ## 🙋 Log in to Your account
      form#form-login.form-auth(method="post")
        .username
          label.form-label(for="username") Username or E-mail 
            small.required *
          input#username.form-field(type="text" name="username" required autofocus)
          small.feedback The Username Field Is Required
        .password
          label.form-label(for="password") Password 
            small.required *
          input#password.form-field(type="password" name="password" required)
          small.feedback The Password Field Is Required
        .checkbox
          input(type="checkbox" id="checkbox" name="checkbox")
          label.form-label(for="checkbox") Remember me
        span.switch-authentication not a member yet? 
          a.link(href="./register.html") sign up
        input.login.button.primary(type="submit" value="Login")
        section.noe: span or Sign in with
        include ../assets/components/sign-in-up-with
    include ../assets/partials/footer
    include ../assets/components/scroll-up
    include ../assets/includes/scripts
