include ../assets/global/head

doctype html
html
  head
    +head('Younes ERRAJI - Authentication')
    link(rel='stylesheet' href= './assets/styles/authentication.css')
  body
    include ../assets/partials/header

    include ../assets/utilities/settings

    .auth
      h2.special-heading Sign Up
      p ## 🙋 Create a new account
      form#form-register.form-auth(method="POST")
        .name
          label.form-label(for="name") Name 
            small.required *
          input#name.form-field(type="text" name="name" required autofocus)
        .email
          label.form-label(for="email") E-mail 
            small.required *
          input#email.form-field(type="email" name="email" required)
        .username
          label.form-label(for="username") Username 
            small.required *
          input#username.form-field(type="text" name="username" required)
        .password
          label.form-label(for="password") Password 
            small.required *
          input#password.form-field(type="password" name="password" required)
        .confirm
          label.form-label(for="confirm-password") Confirmation
            small.required *
          input#confirm-password.form-field(type="password" name="confirm-password" required)
        span.switch-authentication already a member? 
          a.link(href="./sign-in.html") sign in
        input.register.button.primary(type="submit" value="Register")
    include ../assets/partials/footer
    include ../assets/components/scroll-up
    include ../assets/includes/scripts
