include ../assets/global/head

doctype html
html
  head
    +head('Younes ERRAJI - Skills')
    link(rel='stylesheet' href= './assets/styles/skills.css')

  body
    include ../assets/partials/header

    include ../assets/utilities/settings

    include ../assets/sections/skills

    include ../assets/partials/footer
    include ../assets/components/scroll-up
    include ../assets/includes/scripts

    include ../assets/includes/react-scripts

    script(src="./assets/scripts/fetch/skills.js" type='text/babel')
