@import "../variables/colors";
@import "../global/index";
@import "../helpers/mixin";
@import "../utilities/icon";
@import "../utilities/paragraphs";
@import "../partials/header";
@import "../components/heading";

@import "../partials/settings";

body {
  background-image: var(--background-primary);
}
.auth {
  padding: var(--main-padding) 0;
  .form-auth {
    width: 448px;
    min-height: 560px;
    padding: 28px 18px;
    margin: 0 auto;
    @media (max-width: 467.98px) {
      width: 100%;
    }
    > div {
      margin: 16px 0;
      @import "../components/forms/labels";
      @import "../components/forms/fields";

      input:not([type="submit"]):not([type="checkbox"]) {
        width: 100%;
      }
    }
    .switch-authentication {
      display: block;
      margin-block: 14px;
      a.link {
        color: revert;
      }
    }
    @import "../components/forms/buttons";
    .login,
    .register {
      width: 100%;
      margin: 0;
    }
    @import "../components/forms/checkbox";
  }
}
@import "../partials/footer";
