@import "../utilities/overlay";

.landing {
  background-size: cover;
  background-attachment: fixed;
  min-height: calc(100vh - 115.6px);

  border-bottom-left-radius: 70% 60px;
  border-bottom-right-radius: 30% 10px;
  padding: var(--main-padding) 14px;
  position: relative;

  @include flexible(center, center);
  gap: 14px;
  flex-wrap: wrap;

  .overlay {
    @extend %overlay;
  }

  .intro-image {
    @include flexible(center, center);
    @media (min-width: 467.98px) {
      width: 178px;
      max-width: 20%;
    }

    @media (max-width: 467px) {
      width: 100%;
    }

    position: relative;
    z-index: 5;
    img {
      width: 100%;
      object-fit: contain;
     @media (max-width: 467px) {
        width: 184px;
      }
    }
  }
  .intro-text {
    @media (min-width: 767.98px) {
      width: 404px;
      max-width: 80%;
    }

    @media (max-width: 767px) {
      width: 100%;
    }

    position: relative;
    z-index: 5;

    h1 {
      margin: 0;
      font-weight: bold;
      font-size: 2.8rem;
      span {
        color: var(--blue-primary);
      }
    }
    p {
      @extend %paragraph-lead;
      font-weight: bolder;
      text-align: justify;
    }

    .resume {
      width: fit-content;
    }
  }

  .hash {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 14px;
    font-size: 17px;
    font-weight: 600;
    color: var(--dark-secondary);
    z-index: 5;
  }
}
