.theme-toggler {
  display: flex;
  @include flexible(center, center);
  padding: 7px;
  .theme-toggler-container {
    height: 42px;
    width: 60px;
    padding: 4px;
    border-radius: 20px;
    background-color: var(--grey-light);
    border: 1px solid var(--grey-dark);
    position: relative;
    cursor: pointer;
    .circle {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      position: absolute;
      top: 3px;
      transition: left 0.4s, right 0.4s;
    }
  }
  input#theme-toggler {
    appearance: none;
    display: none;

    &:checked {
      + {
        .theme-toggler-container {
          .circle {
            background-color: var(--blue-primary);
            left: 4px;
          }
        }
      }
    }
    &:not(:checked) {
      + {
        .theme-toggler-container {
          .circle {
            background-color: var(--grey-dark);
            right: 4px;
          }
        }
      }
    }
  }

  span.theme-title {
    color: var(--dark-secondary);
    font-weight: 600;
    font-size: 16px;
    padding: 11px;
  }
}
