footer
  .page-info
    .container
      .portfolio
        h3 Younes ERRAJI
        ul.list-unstyled
          li
            img(src='./assets/icons/map.svg')
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus facere qui fugiat repellendus impedit.
          li
            img(src='./assets/icons/chat.svg' alt='')
            |younes.erraji8@gmail.com
          li
            img(src='./assets/icons/phone.svg' alt='')
            |06 51.65.67.99
          li
            img(src='./assets/icons/phone.svg' alt='')
            |(+212) 6 51.65.67.99
          li: a(href='#')
            img(src='./assets/icons/http.svg' alt='')
            |https://younes-erraji.github.io
      .links
        h4 links
        ul.list-unstyled
          li: a(href='./index.html') - Home
          li: a(href='#about') - About
          li: a(href="#skills") - Skills
          li: a(href='#work') - Work
          li: a(href='#careers') - Careers
          li: a(href='#contact') - Contact
      .about
        h4 about
        article
          |Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio pariatur dolore quos dolor eos numquam repellat unde illo deleniti? Officia unde saepe minima iusto aspernatur fugiat nam quae, iste nulla blanditiis! Dolores magnam modi nihil provident recusandae quo! Sit reiciendis explicabo commodi repellendus expedita.
          br
          |Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores ipsa nam inventore, voluptatibus in accusantium, asperiores mollitia, quaerat ipsum nihil doloremque odit!
  .copyright
    .container
      p
        |&copy; Copyright <strong>Younes ERRAJI</strong>.
        br
        |All Rights Reserved.
        br
        |Designed with ❤ by Younes ERRAJI.
      include ../components/socials