mixin head(title)
  include ../includes/meta
  title= title
  link(rel="apple-touch-icon" href="./assets/images/global/favicon.ico")
  link(rel="shortcut icon", size='88x88', href="./assets/images/global/favicon.ico")

  link(rel='stylesheet', href='./Libraries/font-awesome-4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='./assets/styles/utilities/fonts/poppins.css')
  link(rel='stylesheet' href='./assets/styles/utilities/normalize.css')
