.modal
  .modal-body
    .modal-image: img(src="" alt="")
    .modal-content
      .modal-header
        h4.modal-title Lorem ipsum dolor sit.
        .modal-button-close: img(src="./assets/icons/x.svg", alt="")
      p.modal-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis consectetur voluptatibus corporis delectus iste numquam quasi accusamus odio soluta error officiis deserunt voluptas, totam, aliquam dolore earum assumenda quisquam cum enim consequuntur neque blanditiis repellat. Qui dicta vero optio quidem consequuntur a? Quos, officia!
