.sign-in-up-with-container
  .sign-in-up-with.facebook: img.icon(src="./assets/icons/social media/facebook.svg", alt="")
  .sign-in-up-with.google: img.icon(src="./assets/icons/social media/google.svg", alt="")
  .sign-in-up-with.github: img.icon(src="./assets/icons/social media/github.png", alt="")