ul.socials.list-unstyled
  li: a(title='Instagram' href='https://www.instagram.com/younes.erraji_' target='_blank')
    img(src='./assets/icons/social media/instagram.svg' alt='Instagram')
  li: a(title='LinkedIn' href='https://www.linkedin.com/in/younes-erraji' target='_blank')
    img(src='./assets/icons/social media/linkedin.svg' alt='LinkedIn')
  li: a(title='CodePen' href='https://codepen.io/younes-erraji' target='_blank')
    img(src='./assets/icons/social media/codepen.svg' alt='CodePen')
  li: a(title='Github' href='https://www.github.com/younes-erraji' target='_blank')
    img(src='./assets/icons/social media/github.png' alt='Github')
  li: a(title='Telegram' href='https://t.me/younes_erraji' target='_blank')
    img(src='./assets/icons/social media/telegram.svg' alt='Telegram')