section.about#about
  h2.special-heading about me
  p.name ## 🙋 Younes ERRAJI
  .container
    .developer
      h3 I am Younes ERRAJI
      p
        |I'm a passionate Full Stack Developer from Morocco.
        br
        |I like to write code, I like to dig into problems and solve them. I also enjoy UI, UX, and design in general.
        |I am working on developing my skills, Enthusiastic and self-taugh.
      a.button.secondary.resume(href='./assets/resume.pdf' target="_blank") Get Resume
      include ../components/socials
    .picture
      img(src='./assets/images/studio/me.png' alt="")