.careers#careers
  .container
    .careers-content
      .year 2018
      .left
        .content
          h4 Obtention du bac science physique mention assez bien.
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti ex molestiae illo nisi quaerat veniam beatae aliquid eligendi. Aliquid tenetur quas ex, sequi porro nam commodi placeat maxime nobis quam?
      .clearfix
      .year 2019
      .right
        .content
          h4 Premiere annee science physique a la faculte de science de RABAT.
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti ex molestiae illo nisi quaerat veniam beatae aliquid eligendi. Aliquid tenetur quas ex, sequi porro nam commodi placeat maxime nobis quam?
      .clearfix
      .year 2020
      .left
        .content
          h4 Premiere annee developpement informatique a l’OFPPT de TEMARA.
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti ex molestiae illo nisi quaerat veniam beatae aliquid eligendi. Aliquid tenetur quas ex, sequi porro nam commodi placeat maxime nobis quam?
      .clearfix
      .year 2021
      .right
        .content
          h4 Diplome technicien specialise en developpement informatique (ISTA TEMARA).
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti ex molestiae illo nisi quaerat veniam beatae aliquid eligendi. Aliquid tenetur quas ex, sequi porro nam commodi placeat maxime nobis quam?
      .left
        .content
          h4 CNRST's internship
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti ex molestiae illo nisi quaerat veniam beatae aliquid eligendi. Aliquid tenetur quas ex, sequi porro nam commodi placeat maxime nobis quam?
      .clearfix