.landing
  .overlay
  .intro-image: img(src="./assets/images/global/logo.png", alt="")
  .intro-text
    h1 Hi
      img(src="./assets/icons/wave.gif" alt='' width="30px")
      |, I'm <span>Younes ERRAJI</span>
    p
      |a passionate Full Stack Developer from Morocco.
      |I like to write code, I like to dig into problems and solve them.
      |I also enjoy UI, UX, and design in general.

    a.button.secondary.resume(href='./assets/resume.pdf') Get Resume

  .hash #Younes_ERRAJI