.services#services
  .container
    h2.special-heading Services
    p ## 👯 Don't be busy, be productive
    .services-content
      .column
        .service
          img(src='./assets/icons/services/graphic-design.svg' alt='')
          .text
            h3 Graphic Design
            p Graphic design is the process of visual communication and problem-solving using one or more of typography, photography and illustration.
        .service
          img(src='./assets/icons/services/mobile-app.svg' alt='')
          .text
            h3 UI &amp; UX
            p Process of enhancing user satisfaction with a product by improving the usability, accessibility, and pleasure provided in the interaction.
      .column
        .service
          img(src='./assets/icons/services/web-design.svg' alt='')
          .text
            h3 Web Design
            p Web design encompasses many different skills and disciplines in the production and maintenance of websites.
        .service
          img(src='./assets/icons/services/programming.svg' alt='')
          .text
            h3 Web Development
            p Web development is a broad term for the work involved in developing a web site for the Internet or an intranet.
      .column
        .image.image-column
          img(src="./assets/images/services.jpg" alt="Services")