.checkbox {
  margin: 18px 0;
  input[type="checkbox"] {
    appearance: none;
    &:checked + label {
      &::after {
        transform: translateY(-50%) scale(1);
      }
    }
  }

  label {
    @extend .form-label;
    position: relative;
    padding: 10px 0 10px 30px;

    &::before {
      content: "";
      width: 20px;
      height: 20px;
      background-color: var(--white);
      border: 1px solid var(--grey-light);
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &::after {
      font-family: "FontAwesome";
      content: "\f00c";
      position: absolute;
      left: 2px;
      top: 50%;
      width: 18px;
      height: 18px;
      background-color: var(--blue-primary);
      color: var(--white);
      font-size: 18px;
      text-align: center;
      transform: translateY(-50%) scale(0);
      transition: transform 0.4s ease-in-out;
    }
  }
}
