header {
  font-size: 17px;
  position: relative;
  z-index: 9;
  width: 100%;
  background-color: var(--white);
  .container {
    display: grid;
    grid-template-columns: 3fr 1fr auto;
    gap: 7px;
    justify-content: space-between;
    align-items: center;
  }
  marquee.info {
    padding: 8px 0;
    font-size: 1.9rem;
    overflow: hidden;
    border-right: 4px solid var(--blue-primary);
    @media (max-width: 575.98px) {
      display: none;
    }
    ul {
      display: flex;
      width: 140%;
      li {
        width: calc(100% / 3);
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 8px;
        align-items: center;
        color: var(--grey-dark);
        img {
          width: 44px;
        }
        .content {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }
  }
  @import "../components/socials";
  .languages {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    div.change {
      cursor: pointer;
      color: var(--blue-primary);
      padding: 8px;
      font-size: 18px;
      display: flex;
      align-items: center;
      i {
        margin-inline: 4px;
      }
    }
    img {
      width: 28px;
      margin: 0 7px;
      position: relative;
    }
    .select {
      display: none;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      background-color: var(--blue-primary);
      position: absolute;
      top: 90%;
      padding: 8px 4px;
      width: 218px;
      a {
        background-color: transparent;
        border: none;
        padding: 4px 8px;
        width: 100%;
        display: flex;
        align-items: center;
        color: var(--white);
        text-align: start;
        cursor: pointer;
        opacity: 1;
        transition: opacity 0.4s;
        &:hover,
        &.active {
          opacity: 0.7;
        }
      }
      &::after {
        content: "";
        width: 0;
        height: 0;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent var(--blue-primary) transparent;
        position: absolute;
        top: -16px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &.change-language {
      .select {
        display: flex;
      }
    }
  }
}
