nav {
  width: 100%;
  background-color: var(--dark-primary);
  z-index: 8;
  position: sticky;
  top: 4px;
  box-shadow: 0 0 8px var(--shadow);
  .container {
    @include flexible(space-between, center);
    padding: 0 10px;
    position: relative;
  }
  .nav-header {
    @include prefix-values(width, fit-content);
    @include flexible(space-between, center);

    .nav-brand {
      height: 43.6px;
      img {
        padding-inline-end: 7px;
        @include prefix-values(padding-block, 7px);
      }
    }
    .nav-title {
      font-size: 20px;
      font-weight: bold;
      font-family: cursive, Poppins, Arial;
      color: var(--white);
      padding: 8px 10px;
      user-select: none;
    }
  }
  .nav-button {
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;

    @media (max-width: 867.98px) {
      display: inline-block;
    }
    label {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 48px;
      height: 43.6px;
      padding: 10px;
      cursor: pointer;
      transition: background-color 0.4s linear;
      span {
        width: 100%;
        border-radius: 2px;
        height: 3px;
        background-color: var(--white);
        transition: transform 0.3s ease-in-out;
        transform-origin: left;
        &:nth-child(2) {
          // transition: width 0.3s, height 0.2s;
          transition: opacity 0.3s;
        }
      }
      &:hover span:nth-child(1),
      &.active span:nth-child(1) {
        transform: rotate(40deg);
      }
      &:hover span:nth-child(2),
      &.active span:nth-child(2) {
        // width: 80%;
        // height: 2px;
        opacity: 0;
      }
      &:hover span:nth-child(3),
      &.active span:nth-child(3) {
        transform: rotate(-40deg);
      }
    }
  }
  .nav-links {
    font-size: 16px;
    transition: left 0.4s ease-in-out;

    @media (max-width: 867.98px) {
      position: absolute;
      display: block;
      width: calc(100% + 2.4px);
      background-color: var(--dark-secondary);
      overflow-y: auto;
      @include prefix-values(height, fit-content);
      max-height: calc(100vh - 41.3px);
      text-align: center;
      top: 43.6px;
      left: -100vw;
    }

    a {
      display: inline-block;

      transition: background-color 0.4s linear;

      position: relative;
      @media (max-width: 867.98px) {
        display: block;
        width: 100%;
      }
    }
    a:not(.account) {
      color: var(--white);
      padding: 11px 10px;
      &::after {
        content: "";
        background-color: var(--white);
        width: 0;
        height: 3px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: width 0.4s;
      }
      &:hover,
      &.selected {
        background-color: var(--dark-secondary);
        &::after {
          width: 100%;
        }
      }
    }

    a.account {
      background-color: var(--white);
      color: var(--dark-primary);
      font-weight: bold;
      border-radius: 4px;
      padding: 8px 10px;
      margin-inline: 4px;
      transition: opacity 0.4s, box-shadow 0.4s;

      @media (max-width: 867.98px) {
        margin: 7px;
        width: calc(100% - 14px);
      }

      &:hover,
      &.selected {
        opacity: 0.8;
      }

      &:focus {
        box-shadow: 0 0 0 2px #ffffff66;
      }
    }
  }
  .nav-button label:hover,
  #nav-check:checked ~ .nav-button label {
    background-color: var(--dark-secondary);
  }
  #nav-check {
    display: none;
  }
}

@media (max-width: 867.98px) {
  nav {
    #nav-check:not(:checked) ~ .nav-links {
      left: -100vw;
    }
    #nav-check:checked ~ .nav-links {
      left: -2px;
    }
  }
}
